.idea/*
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
dist/
build/
*.pickle
*.pt
data/CASIA2
data/NC16
data/CASIA
*.db
web_app/__pycache__/
web_app/models/__pycache__/
web_app/utils/__pycache__/
web_app/static/uploads/
web_app/static/results/
web_app/*.db
.env
.venv
venv/
*.log
